<div class="container">
    <h1>Registro de usuario</h1>

    <div class="container">
        <form>
            <label for="email" class="fw-bold">Email:</label><br/>
            <input type="email" id="email" name="email" [(ngModel)]="usuario.email"/><br/>
    
            <label for="contrasenia" class="fw-bold">Contraseña:</label><br/>
            <input type="text" id="contrasenia" name="contrasenia" [(ngModel)]="usuario.contrasenia"/><br/>
    
            <label for="nombre" class="fw-bold">Nombre:</label><br/>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre"/><br/>
    
            <label for="apellidos" class="fw-bold">Apellidos:</label><br/>
            <input type="text" id="apellidos" name="apellidos" [(ngModel)]="usuario.apellidos"/><br/>
    
            <label for="telefono" class="fw-bold">Teléfono:</label><br/>
            <input type="number" id="telefono" name="telefono" [(ngModel)]="usuario.telefono"/><br/>
        </form>

        <p><a class="link-opacity-100 link-opacity-75-hover" [routerLink]="['/login']">¿Ya estás registrado? Haz login.</a></p>

        <button class="btn btn-primary" (click)="registrarUsuario()">Registrarse</button>
        <button class="btn btn-primary" (click)="prueba()">Prueba</button>
        <button class="btn btn-primary" (click)="edit()">Edit</button>
    </div>
</div>